body {
  background-image: url("../img/Sublime.jpg");
  color: #0f1a34;
  background-size: cover;
}

.fp-1 {
 font-size: 4rem;
 font-weight: 500;
}

nav {
  /* background-image: url("../img/Wiretap.jpg"); */
}

nav div ul li a:hover {
  border-bottom: 1px solid white;
}

/* #whatsimg{
  box-shadow: 5px 5px 0 0 black;
} */