body {
  background-image: url("../img/Sublime.jpg");
  color: #0f1a34;
  background-size: cover;
}

.fp-1 {
 font-size: 4rem;
 font-weight: 500;
}
nav div ul li a:hover {
  border-bottom: 1px solid white;
}
